# /etc/security/limits.d/99-sonarqube.conf
# Sets resource limits for the SonarQube user.
{{ sonarqube_user }}   -   nofile   {{ sonarqube_limitnofile }}
{{ sonarqube_user }}   -   nproc    {{ sonarqube_limitnproc }}