# /etc/security/limits.d/99-sonarqube.conf
# Sets resource limits for the SonarQube user.
{{ sonar_user }}   -   nofile   {{ sonar_limitnofile }}
{{ sonar_user }}   -   nproc    {{ sonar_limitnproc }}